<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--저장소 권한(갤러리)-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 저장소 권한 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="당신의 안식"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeYourEyes"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssignActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".FoodCautionActivity"
            android:exported="false" />
        <activity
            android:name=".CameraFailActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ResultEatActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FoodActivity"
            android:exported="false"
            android:label="식품 분석"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr_korean" />
    </application>

</manifest>